body {
    max-width: 800px;
    margin: auto;
  }

.formline { 
    margin: 15px;
}

.fieldset {
    position: relative;
}

.addItem {
    position:absolute;
    bottom: 10px;
    right: 10px;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }