<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>

  <form method="POST">
      <fieldset name="personal_info" class="fieldset">
          <legend>Your Information:</legend> 
          <div class="formline"> Name <input type="text" name="firstname"></div>
          <div class="formline"> Adress <input type="text" name="adress_line"></div>
          <div class="formline"> City <input type="text" name="city"></div>
          <div class="formline"> Country <input type="text" name="country"></div>
          <div class="formline"> Zip/Postal Code <input type="text" name="zip_postal"></div>
      </fieldset> 
  
      <fieldset name="personal_info" class="fieldset">
          <legend>Client Information:</legend> 
          <div class="formline"> First Name <input type="text" name="firstnameclient"></div>
          <div class="formline"> Adress <input type="text" name="adress_line_client"></div>
          <div class="formline"> City <input type="text" name="city_client"></div>
          <div class="formline"> Country <input type="text" name="country_client"></div>
          <div class="formline"> Zip/Postal Code <input type="text" name="zip_postal_client"></div>
      </fieldset> 
  
      <fieldset name="New Item" class="fieldset">
          <legend>Add Item</legend> 
          <div class="formline"> Item Name <input type="text" name="item_name"></div>
          <div class="formline"> Quantity <input type="number" name="qty"></div>
          <div class="formline"> Rate <input type="number" name="rate"></div>
          <button class="addItem">export PDF</button>
      </fieldset> 
  </form>
  
  <div class="tableclass">
  
      <!-- <table>
          <tr>
          <th>Item name</th>
          <th>Amount</th>
          <th>Rate</th>
          <th>Item Total</th>
          </tr>
          <tr>
          <td>Filming</td>
          <td>4</td>
          <td>£19.99</td>
          <td>£99.96</td>
          </tr>
          <tr>
          <td>Editing</td>
          <td>4</td>
          <td>£15.00</td>
          <td>£60.00</td>
          </tr>
          <tr>
          <td>Total:  </td>
          <td></td>
          <td></td>
          <td>£159.96</td>
          </tr>
      </table> -->
  
      <!-- <button class="exportButton">Download PDF</button>   -->
  
  </div>
  
  </body>

</html>